.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.content {
    margin-bottom: 10vw;
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px;
    height: 100%;
}

.bg-image {
    background-image: url("/images/login-background.jpg");
    height: 100%;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.CTA {
    max-width: 650px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.CTALogoOne {
    margin-bottom: 12px;
    max-width: 600px;
    min-height: 1px;
    display: block;
    width: 100%;
}

.CTA button {
    font-weight: bold;
    color: white;
    background-color: #0063e5;
    max-width: 600px;
    width: 100%;
    margin-bottom: 12px;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 16.5px 0;
    border: solid transparent;
    border-radius: 4px;
    transition: .3s ease-out;
}

.CTA button:hover {
    background-color: #0483ee;
}

.description {
    color: hsla(0, 1, 95.31, 1);
    font-size: 11px;
    margin: 0 0 24px;
    line-height: 1.5em;
    letter-spacing: 1.5px;
}


